.gallery_photo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Равномерно распределяет элементы по контейнеру */
    margin: 0 166px;
    background-image: url('../image/so.png');
    background-repeat: repeat;
}

.photo {
    flex: 0 0 calc(33.33% - 20px); /* Определите ширину каждого элемента галереи */
    margin: 10px; /* Задайте отступ между элементами */
}

.photo img {
    width: 100%; /* Сделайте изображения внутри элементов галереи заполняющими */
    height: auto;
}